@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-ghost-white: #ECEEF9;
  --color-lavender: #D8DDF3;
  --color-vista-blue: #8C99D9;
  --color-byzantine-blue: #4055BF;
  --color-marian-blue: #2D3C86;
  --color-delft-blue: #202B60;
  
}


@layer base {
  body {
    background: var(--color-byzantine-blue);
    color: var(--color-white);
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
}


/*Custom Styles*/
.frosted {
  background-color: rgba(236, 238, 249, 0.85);
}

.image {
  width: 75px;
  height: 75px;
  margin: 25px;
}

.input-base {
  @apply border-2 border-solid border-delft-blue text-delft-blue p-2 rounded-lg;
}


.form-container {
  @apply border-4 border-solid p-5 max-w-[500px] min-w-[250px] max-h-[500px] min-h-[320px] mx-auto rounded-xl;
}

.button-base {
  @apply border-2 border-delft-blue p-2 w-[100px] block mx-auto mt-4 rounded-lg  hover:text-white hover:bg-marian-blue hover:border-byzantine-blue
}
